* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
background: url("https://source.unsplash.com/1600x900/?aesthetic") no-repeat
    center center/cover;
  z-index: -1;
}

.container {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeBox {
  width: 33%;
  height: 50vh;
  background: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#time {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(121, 117, 117);
  margin: 0 50px;
}

.clockImg {
  width: 64px;
  height: 64px;
  margin: 0 0 10px;
}

#date {
  color: rgb(150, 148, 148);
  margin: 7px 0;
  font-size: 1rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: lighter;
}

.greet {
  margin-top: 5px;
  padding: 3px 0;
  margin-bottom: 20px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.8rem;
  color: rgb(150, 148, 148);
  font-weight: bold;
}

footer {
  text-align: center;
  background-color: white;
  padding: 20px;
  width: 100%;
  height: 10vh;
  font-size: 1rem;
}

#contact {
  position: fixed;
  top: 25px;
  right: 19px;
}
.contactBtn {
  width: 32px;
  height: 32px;
}
